body{
    background-color: aliceblue;
}
#main-div{
    margin: auto;
    text-align: center;
  
}
#calculator {
    width: 27vw;
    height: auto;
    margin: 50px auto;
    background: linear-gradient(rgb(124, 157, 213), rgb(224, 152, 152), rgb(122, 17, 62));
    /* background: grey; */
    padding: 10px;
    padding-bottom: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    text-align: center;
    box-shadow: 5px 5px 5px rgb(51, 49, 49);
    /* font-size: 60px; */
   
}
h3{
    margin: 50px auto -30px auto;
}
#input {
    margin-top: 10px;
    width: 12vw;
    height: 30px;
    border-radius: 5px;
    font-size: 15px;
}

.btn, .equal {
    width: 40px;
    height: 40px;
    margin: 7px;
    border: none;
  background-color: white;
    box-shadow: 2px 2px 2px rgb(141, 17, 116);
    font-size: 15px;
    color:rgb(9, 8, 8)
}
.clr{
    width: 220px;
    height: 35px; 
    background-color: rgb(18, 18, 176);
    border: none;
    box-shadow: 2px 2px 2px rgb(17, 33, 201);
    font-size: 15px;
    color: white;
}
.del{
    width: 55px;
    height: 33px; 
    background-color: rgb(173, 13, 32);
    border: none;
    box-shadow: 2px 2px 2px rgb(102, 20, 13);
    font-size: 15px
}
.btn-div{
    margin-top: 15px;
}
.btn:hover{
    cursor: pointer;
}
.btn:active,.equal:active,.clr:active{
    transform: scale(1.1);
    background-color: rgb(213, 172, 172);
 
}