body{
    background-color: aliceblue;
}
#main-div{
    margin: auto;
    text-align: center;
  
}
#calculator {
    width: 22vw;
    height: auto;
    margin: 50px auto;
    background: linear-gradient(rgb(148, 176, 225), rgb(199, 194, 194), rgb(235, 213, 222));
    /* background: grey; */
    padding: 10px;
    padding-bottom: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 5px 5px 5px #888282;
    /* font-size: 60px; */
   
}
h3{
    margin: 50px auto -30px auto;
}
#input {
    margin-top: 10px;
    width: 11vw;
    height: 30px;
    border-radius: 5px;
    font-size: 15px;
    text-align: right;
    /* box-shadow: 0px 2px 2px 2px #575454; */
}

.btn, .equal {
    width: 40px;
    height: 40px;
    margin: 7px;
    border: none;
  background-color: white;
    box-shadow: 2px 4px 4px 4px #a09c9c;
    font-size: 15px;
    color:rgb(9, 8, 8)
}
.clr{
    width: 220px;
    height: 35px; 
    background-color: rgb(18, 18, 176);
    border: none;
    box-shadow: 2px 2px 2px rgb(17, 33, 201);
    font-size: 15px;
    color: white;
}
.del{
    width: 55px;
    height: 33px; 
    background-color: rgb(173, 13, 32);
    border: none;
    box-shadow: 2px 2px 2px rgb(102, 20, 13);
    font-size: 15px
}
.btn-div{
    margin-top: 15px;
}
.btn:hover{
    cursor: pointer;
    
        /* background-color: rgb(238, 68, 25); */
        /* color: green; */
        border: 1px solid rgb(128, 0, 94);
      }

.btn:active,.equal:active,.clr:active{
    transform: scale(.8);
    /* background-color: rgb(213, 172, 172); */
 
}